body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.page {
  width: 210mm;
  height: 297mm;
  padding: 0mm;
  margin: 10mm auto;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  width: 210mm;
  height: 297mm;
  position: relative;
}

.header {
  padding: 20mm 20mm 0 20mm;
}

.body,
.footer {
  padding-left: 20mm;
  padding-right: 20mm;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-print {
  width: 210mm;
  margin: 0 auto;
}

@page {
  size: A4 portrait;
  margin: 0;
}

@media print {
@page {
    size: A4 portrait;
    margin: 0;
}

  .navbar,
  .btn-print,
  .phpdebugbar {
    display: none !important;
  }

  html,
  body#print,
  #app {
    margin: 0 !important;
    padding: 0 !important;
  }

  html,
  body {
    background: white;
    min-width: auto !important;
    line-height: 1 !important;
  }

  a {
    text-underline: none;
  }

  .page {
    width: 100%;
    height: 297mm;
    height: 3508px;
    border: initial;
    border-radius: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    margin: 0;
  }

  .subpage {
    width: 100%;
  }
}

