body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.page {
  width: 210mm;
  width: 49.7923233326em;
  height: 297mm;
  height: 70.4205715703em;
  padding: 0mm;
  margin: 10mm auto;
  margin: 2.3710630158em auto;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page h4 {
  font-size: 1.35em;
}

.page h5 {
  font-size: 1.125em;
}

.page h6 {
  font-size: 0.9em;
}

.subpage {
  width: 210mm;
  width: 49.7923233326em;
  height: 297mm;
  height: 70.4205715703em;
  position: relative;
}

.header {
  padding: 20mm 20mm 0 20mm;
  padding: 4.7421260317em;
  padding-bottom: 0;
}

.body,
.footer {
  padding-left: 20mm;
  padding-left: 4.7421260317em;
  padding-right: 20mm;
  padding-right: 4.7421260317em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-print {
  width: 210mm;
  max-width: 100%;
  margin: 0 auto;
}

@page {
  size: A4 portrait;
  margin: 0;
}

@media print {
@page {
    size: A4 portrait;
    margin: 0;
}

  .navbar,
  .btn-print,
  .phpdebugbar {
    display: none !important;
  }

  html,
  body#print,
  #app {
    margin: 0 !important;
    padding: 0 !important;
  }

  html,
  body {
    background: white;
    min-width: auto !important;
    line-height: 1 !important;
  }

  a {
    text-underline: none;
  }

  .page {
    width: 100%;
    height: 297mm;
    height: 3508px;
    height: 70.4205715703em;
    border: initial;
    border-radius: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    margin: 0;
  }

  .subpage {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .page {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .page,
  .subpage {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .page {
    font-size: 10px;
  }
}

